---
import BaseLayout from "@layouts/BaseLayout.astro";
import HorizontalCard from "@components/HorizontalCard.astro";
import createSlug from "../../../../lib/createSlug";
import * as data from "../../../../lib/dataHelpers";
import TopicsHeader from "@components/topics/TopicsHeader.astro";

export const topics = await data.Topics.getTopicsSortedByDate();

export async function getStaticPaths({ paginate }) {
  const tags = topics.flatMap((article) => {
    return article.data.tags || [];
  });

  return tags.flatMap((tag) => {
    const topicsWithSelectedTag = topics.filter((topic) => {
      return topic.data.tags?.includes(tag);
    });
    return paginate(topicsWithSelectedTag, {
      params: { tag },
      pageSize: 10,
    });
  });
}

const { page } = Astro.props;
const params = Astro.params;
---

<BaseLayout title={`Topics on '${params.tag}`} sideBarActiveItemID="topics">
  <TopicsHeader data={topics} title={`Topics on '${params.tag}'`}
    naviLinkUrl="javascript:history.back()"/>
  {
    page.data.length === 0 ? (
      <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
        <p class="font-bold">Sorry!</p>
        <p>There are no blog posts to show at the moment. Check back later!</p>
      </div>
    ) : (
      <ul>
        {page.data.map((topic) => (
          <>
            <HorizontalCard
              title={topic.data.title}
              img={topic.data.heroImage}
              desc={topic.data.description}
              url={"/topics/" + createSlug(topic.data.title, topic.slug)}
              target="_self"
              badge={topic.data.badge}
              tags={topic.data.tags}
            />
            <div class="divider my-0" />
          </>
        ))}
      </ul>
    )
  }

  <div class="flex justify-between">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
          {" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg>{" "}
          Recent posts
        </a>
      ) : (
        <div />
      )
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
          Older Posts{" "}
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            {" "}
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </a>
      ) : (
        <div />
      )
    }
  </div>
</BaseLayout>
