---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import HorizontalCard from "../../../../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../../../../lib/createSlug";
import dayjs from "dayjs";


export async function getStaticPaths({ paginate }) {
  const articles = await getCollection("conferences");
  const confTags = articles.flatMap((article) => {
    return article.data.conference || [];
  });

  return confTags.flatMap((conf) => {
    const filteredArticles = articles.filter((article) => {
      return article.data.conference?.includes(conf);
    });
    console.log(filteredArticles);
    return paginate(filteredArticles, {
      params: { conf: conf },
      pageSize: 10,
    });
  });
}

const { page } = Astro.props;
const params = Astro.params;
---
<BaseLayout title="Conferences" sideBarActiveItemID="conferences">
  <div class="w-full max-w-none px-4 sm:px-6 lg:px-8">

    <div class="mb-5">
      <div class="text-4xl w-full font-bold">All Notes from Conference '{params.conf}'</div>
      <div class="my-6">
        All conference summaries in one place. Please note that the information provided here is based on personal note that were taken during the according conference.
        The information may not be accurate or up-to-date.
        For the most up-to-date information, please visit the conference website.
      </div>
    </div>

    {
      page.data.length === 0 ? (
      <div class="bg-base-200 border-l-4 border-secondary w-full p-4">
          <p class="font-bold">Sorry!</p>
          <p>There are no conference summaries to show at the moment. Check back later!</p>
        </div>
      ) : (
        <ul>
          {page.data.map((conf) => {
            const displayDate = dayjs(conf.data.eventDate).format("lll");
            return <>
              <HorizontalCard
                title={conf.data.title}
                img={conf.data.heroImage}
                date={displayDate}
                url={"/conferences/" + createSlug(conf.data.title, conf.slug)}
                target="_self"
                badge={conf.data.conference}
                tags={conf.data.tags}
              />
              <div class="divider my-0" />
            </>
          })}
        </ul>
      )
    }

    <div class="flex justify-between">
      {
        page.url.prev ? (
          <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
            {" "}
            <svg
              class="h-6 w-6 fill-current md:h-8 md:w-8"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
            </svg>{" "}
            Recent Conference Articles
          </a>
        ) : (
          <div />
        )
      }
      {
        page.url.next ? (
          <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
            Older Conference Articles{" "}
            <svg
              class="h-6 w-6 fill-current md:h-8 md:w-8"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              {" "}
              <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
            </svg>
          </a>
        ) : (
          <div />
        )
      }
    </div>
  </div>
</BaseLayout>