---
import type { TopicSchema } from "src/content-old/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends TopicSchema {}

const {
  title,
  description,
  date,
  updatedDate,
  image,
  categories = [],
  tags = [],
} = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(date).format("ll");
import { Image } from "astro:assets";
console.log(Astro.props);

---

<BaseLayout title={title} description={description} image={image}, ogType="article">
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[1280px] prose-img:mx-auto">
      {
        image && (
          <Image
            width={750}
            height={422}
            format="webp"
            src={image}
            alt={title}
            class="w-full mb-6"
          />
        )
      }
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      {date && <time>{displayDate}</time>}
      {
        tags &&
          tags.map((tag) => (
            <a
              href={`/topics/tag/${tag}`}
              class="badge badge-outline rounded-full ml-2 no-underline"
            >
              {tag}
            </a>
          ))
      }
      {
        categories &&
          categories.map((cat) => (
            <a
              href={`/topics/category/${cat}`}
              class="badge ml-2 no-underline"
            >
              {cat}
            </a>
          ))
      }
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
